# # Environment variables declared in this file are NOT automatically loaded by Prisma.
# # Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# # to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# # Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# # See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://root:123456789@localhost:3306/ke"


# DATABASE_USER="root"
# DATABASE_PASSWORD="123456789"
# DATABASE_NAME="ke"
# DATABASE_HOST="localhost"
# DATABASE_PORT=3306


# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://saqib_kf:Mangoman@987sex@147.79.100.197:3306/saqib_kf"

DATABASE_HOST="147.79.100.197"
DATABASE_USER="saqib_kf"
DATABASE_PASSWORD="Mangoman@987sex"
DATABASE_NAME="saqib_kf"

